/* styles.css */
body {
    background-image: url('media/Neujahr.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0; /* Verhindert zusätzlichen Abstand */
}

/* Responsive Schriftgröße */
@media (max-width: 600px) {
    h1 {
        font-size: 2em; /* Kleinere Schriftgröße für mobile Geräte */
    }
}

.countdown {
    font-size: 2em;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

#invitation {
    display: none;
    margin-top: 20px;
    font-size: 1.3em;
}
