/* styles.css */
body {
    background-image: url('media/depositphotos_37690569-stock-photo-white-and-silver-abstract-bokeh.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex; /* Aktiviert Flexbox für das Body-Element */
    justify-content: center; /* Zentriert den Container horizontal */
    align-items: center; /* Zentriert den Container vertikal */
    height: 100vh; /* Höhe auf 100% des Viewports setzen */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 20px;
    max-width: 800px;
}

h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0; /* Entferne Margin für bessere Zentrierung */
}

.countdown {
    font-size: 2em;
    margin: 20px 0;
}

.btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 1.2em;
    background-color: #fff;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    transition: background-color 0.3s, color 0.3s;
    
}

.btn:hover {
    background-color: #333;
    color: #fff;
}

.question {
    font-size: 1.5em;
    margin: 20px;

}

#invitation {
    display: none;
    margin-top: 20px;
    font-size: 1.3em;
}

/* Media Queries für responsives Design */
@media (max-width: 600px) {
    h1 {
        font-size: 1.8em; /* Kleinere Schriftgröße auf Mobilgeräten */
    }
    .container {
        padding: 20px; /* Weniger Padding auf kleinen Bildschirmen */
    }
    .music-player iframe {
        width: 100%; /* Vollbreite auf Mobilgeräten */
    }
}
